/* vazirmatn for persian texts */

@font-face {
    font-family: 'Vazirmatn RD';
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
        url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;

    /* for breaking large links */
    word-break: break-word;
    overflow-wrap: break-word;
}
a:hover {
    text-decoration: underline;
}

pre {
    background: #f4f4f4;
    padding: 10px;
}

code {
    font-family: monospace;
}

img {
    max-width: 100%;  /* Ensures image doesn't exceed parent width */
    height: auto;     /* Maintains aspect ratio */
    object-fit: contain; /* Ensures image fits inside without cropping */
    display: block; /* Ensures no extra space below the image */
  }

button {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background: #eaeaea;
}

* {
    font-family: 'Vazirmatn RD';
    border-radius: 5px;
}