---
layout: page
---
<title>
    {{ page.title | default: page.url | split: '/' | last | replace: '-', ' ' | capitalize }}
</title>

<!-- <header class="post-header">
    <h1 class="post-title">
        {{ page.title | default: page.url | split: '/' | last | replace: '-', ' ' | capitalize }}
    </h1>
</header> -->

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">Niksen</h1>
            </header>
        </article>
    </div>
</main>

{{ content }}

<br>
<p align="right"><a href="../">🔙 handbook</a></p>