---
layout: page
---
{% assign page_title = page.title | default: page.url | split: '/' | last | replace: '-', ' ' %}

<!-- <head>
    <title>{{ page_title }}</title>
</head>
<header class="post-header">
    <h1 class="post-title">{{ page_title }}</h1>
</header> -->

<head></head>
    <title id="dynamic-title">{{ page_title }}</title>
</head>
<header class="post-header">
    <h1 id="page-title">{{ page_title }}</h1>
</header>

<div id="spotify-iframe-container"></div>

{{ content }}

<br>
<p align="right"><a href="../">🔙 crapbook</a></p>

<script>
    // make non-english title readable (instead of showing character codes)
        // Get the encoded title from the server-side rendered title
        const encodedTitle = document.getElementById('page-title').textContent;

        // Decode the title to make it readable
        const decodedTitle = decodeURIComponent(encodedTitle.trim());

        // Update the page title in the header and browser tab
        document.getElementById('page-title').textContent = decodedTitle;
        document.getElementById('dynamic-title').textContent = decodedTitle;


    // Retrieve track ID from localStorage
    const trackId = localStorage.getItem('currentTrack');
    if (trackId) {
        const iframeContainer = document.getElementById('spotify-iframe-container');
        const iframe = document.createElement('iframe');
        iframe.style.borderRadius = '12px';
        iframe.src = `https://open.spotify.com/embed/track/${trackId}?utm_source=generator`;
        iframe.width = '100%';
        iframe.height = '152';
        iframe.frameBorder = '0';
        iframe.allow = 'autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture';
        iframe.loading = 'lazy';
        
        iframeContainer.appendChild(iframe);
    }
</script>